# Example of a `.gitattributes` file which reclassifies `.ipynb` files as Python:
# *.ipynb linguist-language=Python
# *.py linguist-language=Python
# *.sh linguist-language=Bash
# *.txt linguist-language=Text

*.ipynb linguist-detectable=false
*.py linguist-detectable=true
*.txt linguist-detectable=true
*.sh linguist-detectable=true